*{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

/* ===== Banner Section ===== */
.section{
    margin-bottom: 10vh;
}
.banner-img{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.banner-txt-button-area{
    text-align: center;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
h1{
    font-size: 5vw;
}
p{
    font-size: 2vw;
}
.banner-button{
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: rgb(235, 58, 38);
    padding: 3vh 4vw;
    border-radius: 3vw;
    font-size: 3vw; 
}
.banner-text{
    margin-bottom: 10vh;
}
.banner-button:hover{
    background-image: linear-gradient(rgb(125, 252, 41), rgb(0, 139, 12));
    color: white;.
}

/* ===== Amount Section ===== */

.as-sec{
    text-align: center;
    width: 100%;
}
.as-txt-area{
    margin-bottom: 5vh;
}
.as-para{
    color: gray;
    font-size: 1.5vw;
    width: 70%;
    margin: auto;
    margin-bottom: 10vh;
}
.as-tk{
    display: flex;
    width: 100vw;
    
    
}
.tk{
    background-color: #ddd;
    color: gray;
    padding: 30px;
    margin: 10px;
}